<h1>The Friends App</h1>
<div class="p-4">
    <h3>Motivation for this Application</h3>
    <p>
    This application is used as an extremely barebones friends application that allows a user to set their 
    friends into a database and show the relevant information for that friend whenever requested. 
    This is a basic Ruby on Rails application I've built in order to better understand CRUD operations in Ruby
    and also to better understand how to build full-stack applications within Ruby using Rails. 
    </p>
</div>